<div class="alert alert-success" *ngIf='message'>
    {{ message }}></div>
<div class="col-md-4 offset-4 mt-4">
    <h4 class="text-center">Add Book</h4>
    <form #addBookForm='ngForm' (ngSubmit)='postBook(addBookForm)'>
        <div class="form-group">
            <label for="bookName">Book Name</label>
            <input type="text" name="bookName" id="bookName" #bookName='ngModel' ngModel class="form-control" ngModel name="bookName" pattern="[a-zA-Z0-9\s]*" required>
        </div>
        <div *ngIf="bookName.touched && bookName.invalid">
            <div *ngIf="bookName.errors.required">BookName is required</div>
            <div *ngIf="bookName.errors.pattern">Accepts both digits and alphabets</div>
        </div> 
        <div class="form-group">
            <label for="author">BookAuthor</label>
            <input type="text" name="authorName" id="authorName" #authorName='ngModel' ngModel class="form-control" ngModel required pattern="[a-zA-Z\s]*">
        </div>
        <div *ngIf="authorName.touched && authorName.invalid">
            <p class="alert alert-danger" *ngIf="authorName.errors.required">AuthorName is required</p>
            <p class="alert alert-danger" *ngIf="authorName.errors.pattern">Accepts only Alphabets</p>
        </div> 
        <div class="form-group">
            <label for="category">BookCategory</label>
            <input type="text" name="bookCategory" id="bookCategory" #bookCategory='ngModel' ngModel class="form-control" ngModel required pattern="[a-zA-Z\s]*">
        </div>
        <div *ngIf="bookCategory.touched && bookCategory.invalid">
            <div *ngIf="bookCategory.errors.required">BookCategory is required</div>
            <div *ngIf="bookCategory.errors.pattern">Accepts only Alphabets</div>
        </div> 
        <div class="form-group">
            <label for="publisher">BookPublisher</label>
            <input type="text" name="publisherName" id="publisherName" #publisherName='ngModel' ngModel
                class="form-control" ngModel required pattern="[a-zA-Z\s]*">
        </div>
        <div *ngIf="publisherName.touched && publisherName.invalid">
            <div *ngIf="publisherName.errors.required">PublisherName is required</div>
            <div *ngIf="publisherName.errors.pattern">Accepts only Alphabets</div>
        </div> 
        <button type="submit" class="btn btn-outline-primary float-right" (click)="postBook(addBookForm)">
            Add Book
        </button>
    </form>
</div>
