<div class="container mt-4">
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>User Id</th>
                <th>Book Id</th>
                <th>Issue Date</th>
                <th>Return Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let issue of issues'>
                <td>{{issue.id}}</td>
                <td>{{issue.userId}}</td>
                <td>{{issue.bookId}}</td>
                <td>{{issue.issueDate}}</td>
                <td>{{issue.returnDate}}</td>
            </tr>

        </tbody>
    </table>

</div>

