<div class="alert alert-danger" *ngIf='error'>{{error}}</div>
    <!--<div class="alert alert-success" *ngIf='message'>{{message}}</div> -->
    <div class="container">
        <div class="d-flex justify-content-center h-50">
            <div class="card">
                <div class="card-header">
                    <h3>Register</h3>
                </div>
                <div class="card-body">
                    <form #registerForm='ngForm' (ngSubmit)='registerUser(registerForm)'>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">

                                <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                            </div>
                            <input type="firstName" name="firstName" id="firstName" #firstName='ngModel' ngModel
                                class="form-control" placeholder="enter firstName" #firstName='ngModel' ngModel required
                                pattern="[a-zA-Z\s]*">
                        </div>
                
                <div *ngIf="firstName.touched && firstName.invalid">
                    <div *ngIf="firstName.errors.required">FirstName is required</div>
                    <div *ngIf="firstName.errors.pattern">Accepts only Alphabets</div>
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">

                        <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                    </div>
                    <input type="lastName" name="lastName" id="lastName" #lastName='ngModel' ngModel
                        class="form-control" placeholder="enter lastName" #lastName='ngModel' ngModel required
                        pattern="[a-zA-Z\s]*">
                </div>
            <div *ngIf="lastName.touched && lastName.invalid">
                <div *ngIf="lastName.errors.required">lastName is required</div>
                <div *ngIf="lastName.errors.pattern">Accepts only Alphabets</div>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">

                    <span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                </div>
                <input type="email" name="email" id="email" #email='ngModel' ngModel class="form-control"
                    placeholder="xyz@gmail.com" #email='ngModel' ngModel required minlength="10">
            </div>
            <div *ngIf="email.touched && email.invalid">
                <div *ngIf="email.errors.required"></div>
                <div *ngIf="email.errors.minlength"></div>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                <input type="password" name="password" id="password" #password='ngModel' ngModel class="form-control"
                    placeholder="enter password" #password='ngModel' ngModel required minlength="6">
            </div>
            <div *ngIf="password.touched && password.invalid">
                <div *ngIf="password.errors.required"></div>
                <div *ngIf="password.errors.minlength"></div>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">

                    <span class="input-group-text"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                </div>
                <input type="number" name="mobile" id="mobile" #mobile='ngModel' ngModel
                    class="form-control" placeholder="enter mobile number" #mobile='ngModel' ngModel required minlength="10" pattern="[7-9]{1}[0-9]{9}">
            </div>
            <div *ngIf="mobile.touched && mobile.invalid">
                <div *ngIf="mobile.errors.required">Mobile Number is required</div>
                <div *ngIf="mobile.errors.pattern">Accepts only 10 digits,
                  number should start with(7,8,9)</div>
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">

                    <span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
                </div>
                
                <select name="role" id="role" #role='ngModel' placeholder="select role" ngModel class="form-control">
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
               </div>
               <div *ngIf="role.touched && role.invalid">
                <div *ngIf="role.errors.required">Role is required</div>
            </div>
            </form>
        </div>
        <div class="card-footer">
            <a routerLink='/login'>Already have an account?Please Login</a>
                <button class="btn-btn-outline-dark float-right" (click)="registerUser(registerForm)">Register</button>
        </div>
    </div>
    </div>
    </div>