<table align="center">
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSg57mFF233JjAEgDXp4e8zMBhmwXsFmRoLYtEc7sO_fG9GsqXo&usqp=CAU" class="card-img-top" alt="..." height="200" width="200">
                <div class="card-body">
                  <a routerLink="/addBook" class="btn btn-primary btn-dark btn-block" >Add Book</a>
                </div>
              </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSg57mFF233JjAEgDXp4e8zMBhmwXsFmRoLYtEc7sO_fG9GsqXo&usqp=CAU" class="card-img-top" alt="..." height="200" width="200">
                <div class="card-body">
                  <a routerLink="/bookDetails" class="btn btn-primary btn-dark btn-block">Book Details</a>
                </div>
              </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSg57mFF233JjAEgDXp4e8zMBhmwXsFmRoLYtEc7sO_fG9GsqXo&usqp=CAU" class="card-img-top" alt="..." height="200" width="200">
                <div class="card-body">
                  <a routerLink="/issueBook" class="btn btn-primary btn-dark btn-block">Issue Book</a>
                </div>
              </div>
        </td>
    </tr>
</table>
<br>
<br>
<table align="center">
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSg57mFF233JjAEgDXp4e8zMBhmwXsFmRoLYtEc7sO_fG9GsqXo&usqp=CAU" class="card-img-top" alt="..." height="200" width="200">
                <div class="card-body">
                  <a routerLink="/showRequests" class="btn btn-primary btn-dark btn-block">Show Requests</a>
                </div>
              </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSg57mFF233JjAEgDXp4e8zMBhmwXsFmRoLYtEc7sO_fG9GsqXo&usqp=CAU" class="card-img-top" alt="..." height="200" width="200">
                <div class="card-body">
                  <a routerLink="/showUsers" class="btn btn-primary btn-dark btn-block">Show Users</a>
                </div>
              </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSg57mFF233JjAEgDXp4e8zMBhmwXsFmRoLYtEc7sO_fG9GsqXo&usqp=CAU" class="card-img-top" alt="..." height="200" width="200">
                <div class="card-body ">
                  <a routerLink="/issuedBooks" class="btn btn-primary btn-dark btn-block">Issued Books</a>
                </div>
              </div>
        </td>
    </tr>
</table>