<br>
<div class="alert alert-primary" *ngIf='message'>{{message}}</div>
<input type="search" name="search" [(ngModel)]='search' placeholder="search" class="form control col mt-4 offset md-4">
<div class="container mt-4">
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Book ID</th>
                <th>Book Name</th>
                <th>Author</th>
                <th>Category</th>
                <th>Publisher</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let bookDetails of books | bookFilter :search'>
                <td>{{bookDetails.bookId}}</td>
                <td>{{bookDetails.bookName}}</td>
                <td>{{bookDetails.authorName}}</td>
                <td>{{bookDetails.bookCategory}}</td>
                <td>{{bookDetails.publisherName}}</td>
                <td><button class="btn btn-primary" style="width: 100%;" (click)='selectBook(bookDetails)'>Edit</button></td>
                <td><button class="btn btn-primary" style="width: 100%;" (click)='deleteBook(bookDetails.bookId)'>Delete</button></td>
            </tr>

        </tbody>
    </table>

</div>
